#navbar{
    display: flex;
    justify-content: space-around;
}
#query{
    height: 30px;
    width: 30%;
    /* padding-top: 20px; */
}
#sorting{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}